@charset "UTF-8";

body {
    background-color: #0A4164;
}

h1 {
    color: #FFFFFF;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

section {
    margin: 0 auto;
    width: 30vw;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    border-radius: 10px;
    box-shadow: 3px 3px 3px #0000007e;
    padding: 10px;
}

div {
    color: black;
    font-weight: bold;
    text-align: center;
    padding: 10px
}

#imagem {
    border-radius: 100%;
    display: block;
    margin: 0 auto;
}

#tabuada {
    list-style: none;
}

footer {
    color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    font-style: italic;
}